td{
  vertical-align: middle;
}
.button-rounded {
  border-radius: 50px;
  padding: 5px 15px;
}

.f12 {
  font-size: 12px;
}

.bg-secondary {
  background-color: white !important;
  color: #005a7b;
  font-weight: bold;
  border: 2px solid #005a7b;
}

.bg-primary {
  background-color: #005a7b !important;
}
thead {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #818694;
}
.heading{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #005A7B;
}
.inv-product-text {
  font-size: 15px;
  font-weight: 400;
}
