<!-- <p>
  select-reasons works!
</p> -->
<div>
  <div class="row">
    <div class="col-md-10">
      <div class="txt-s1">
        Select Reasons
      </div>
    </div>
    <div class="col-md-2" style="text-align: end">
      <button class="btn" (click)="dialogRef.close()">x</button>
    </div>

  </div>
  <div class="col-md-12">
  <div class="sr-txt1" >
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1" style="padding: 15px;"> Buyer didn’t respond</label><br>

    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" class="mt-3 ">
    <label for="vehicle1" style="padding: 15px;"> Asking for lower price than quoted</label><br>

    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" class="mt-3">
    <label for="vehicle1" style="padding: 15px;"> I m not available at the moment</label><br>

    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" class="mt-3">
    <label for="vehicle1" style="padding: 15px;"> Could not reach the buyer on phone</label><br>

    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" class="mt-3">
    <label for="vehicle1" style="padding: 15px;"> Others</label><br>
  </div>
  </div>

  <div class="row">
    <div class="col-md-12  mt-5 ">
      <div style="display: flex; gap: 3px">
        <button
          class="btn btn-secondary button-rounded f12 bg-secondary page-header full-width"
          type="button">
          Cancel
        </button>
        <button
          class="btn btn-secondary button-rounded f12 bg-primary page-header full-width"
          type="button">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
