<!-- <p>
  select-reasons works!
</p> -->
<div>
  <div class="row">
    <div class="col-md-10">
      <div class="txt-s1">
        Select Reasons
      </div>
    </div>
    <div class="col-md-2" style="text-align: end">
      <button class="btn" (click)="dialogRef.close()">x</button>
    </div>

  </div>
  <div class="col-md-12">
  <div class="sr-txt1" >
    <div *ngFor="let reason of reasons">
      <input type="checkbox" id="vehicle1" name="vehicle1"  [(ngModel)]="reason.selected"
  [ngModelOptions]="{standalone: true}">
      <label for="vehicle1" style="padding: 15px;"> {{reason.reason}}</label><br>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12  mt-5 ">
      <div style="display: flex; gap: 3px">
        <button
          class="btn btn-secondary button-rounded f12 bg-secondary page-header full-width"
          type="button" (click)="actionClick('cancel')">
          Cancel
        </button>
        <button
          class="btn btn-secondary button-rounded f12 bg-primary page-header full-width"
          type="button" (click)="actionClick('submit')">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
