<div class="bg">
  <div class="row col-12">
    <div class="col-md-2"></div>
      <div class="col-md-8
      ">
       <div style="margin-bottom: 5%; margin-top: 1%;">
         <h4 class="page-header float-md-start">Frequently Asked Questions</h4>
       </div>


        <div class="card">
          <div class="card-body">
            <h3>  Scrapify MarketPlace is a platform that brings together buyer and sellers of scrap materials from all over the
              world. Whether you are a manufacturer looking to sell the excess scrap, or a buyer looking for raw materials,
              Scrapify Marketplace provides a streamlined, efficient way to connect with others in the industry.
            </h3>
          </div>

          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  What types of scrap materials are commonly bought and sold?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Commonly bought and sold scrap materials include metals (such as steel, aluminum, copper, and
                  brass), paper, plastic, and e-waste(electronic waste).</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  What is the process for selling scrap materials?
                </button>
              </h2>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  How can i find Buyers are sellers for scrap materials?
                </button>
              </h2>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                  What factors determine the price of scrap materials?
                </button>
              </h2>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                  What are some common challenges in the scrap buying and selling industry?
                </button>
              </h2>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
