.inv-product-text {
  font-size: 15px;
  font-weight: 400;
}

.card{
  background-color: gray;
}
.seller-tile:hover{
   background-color: aliceblue;
   border-radius: 14px;
}
.seller-tile{
  border-radius: 14px;
  cursor: pointer;
}
