<div>
  <agm-map
    [latitude]="location?.lat"
    [longitude]="location?.lng"
    [zoom]="12"
    [style]="style"
  >
    <agm-marker
      [latitude]="location?.lat"
      [longitude]="location?.lng"
      [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)"
    >
      <agm-info-window #infowindow class="agm-info-window">
        <div>
          <div style="display: flex; gap: 3px">
            <div>
              <img src="assets/img/garbage.png" height="50" />
            </div>
            <div>
              <div class="inv-product-text">
                <span>Name</span>
              </div>
              <div class="inv-amt-text">
                <span><i class="bi bi-star-fill"></i>4.7 54K Reviews</span>
              </div>
              <div class="inv-amt-text">
                <span>Last Posted 3 months ago</span>
              </div>
            </div>
          </div>
          <div>
            <table class="table">
              <thead>
                <tr>
                  <td>Scrap Type</td>
                  <td>Qty</td>
                  <td>Market Price</td>
                  <td>Expected Price</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img src="assets/img/garbage.png" height="35" />&nbsp;
                    <span>Bottles</span>
                  </td>
                  <td>10kg</td>
                  <td>$(10-20)</td>
                  <td>$20kg/kg</td>
                </tr>
                <tr>
                  <td>
                    <img src="assets/img/garbage.png" height="35" />&nbsp;
                    <span>Bottles</span>
                  </td>
                  <td>10kg</td>
                  <td>$(10-20)</td>
                  <td>$20kg/kg</td>
                </tr>
                <tr>
                  <td>
                    <img src="assets/img/garbage.png" height="35" />&nbsp;
                    <span>Bottles</span>
                  </td>
                  <td>10kg</td>
                  <td>$(10-20)</td>
                  <td>$20kg/kg</td>
                </tr>
              </tbody>
            </table>
          </div>
          <section *ngIf="isViewDetail">
            <div>
              <h5 class="heading">Images</h5>
              <div style="display: flex; flex-wrap: wrap; gap: 3px">
                <img src="assets/img/garbage.png" height="50" />&nbsp;
                <img src="assets/img/garbage.png" height="50" />&nbsp;
                <img src="assets/img/garbage.png" height="50" />&nbsp;
              </div>
            </div>
            <br />
            <div>
              <h5 class="heading">Seller Location</h5>
              <div style="display: flex; gap: 3px">
                <div
                  style="
                    width: 50%;
                    height: 100px;
                    background-color: lightgray;
                    display: grid;
                    place-items: center;
                  "
                >
                  Location Marker
                </div>
                <div>Guindy Chennai-600 238 TamilNadu</div>
              </div>
            </div>
          </section>

          <br />
          <div style="display: flex; gap: 3px">
            <button
              class="btn btn-secondary button-rounded f12 bg-secondary page-header full-width"
              type="button"
              (click)="toggleMoreDetails()"
            >
              View {{ isViewDetail ? "Less" : "Details" }}
            </button>
            <button
              class="btn btn-secondary button-rounded f12 bg-primary page-header full-width"
              type="button"
            >
              Place Bid
            </button>
          </div>
        </div>
      </agm-info-window>
    </agm-marker>
    <agm-circle
      [latitude]="location?.lat"
      [longitude]="location?.lng"
      [radius]="circleRadius"
      [fillColor]="circleFillColor"
      [strokeColor]="circleStrokeColor"
      [fillOpacity]="circleFillOpacity"
      [strokeWeight]="circleStrokeWeight"
    >
    </agm-circle>
  </agm-map>
</div>
