<div class="dialog-container" [@dialogAnimation]>
  <div>
    <div>
      <p class="heading" (click)="back()">
        <i class="bi bi-arrow-left"></i>&nbsp;&nbsp;{{ routeData?.name || "" }}
      </p>
    </div>
    <div class="selected-fields row">
      <div class="col-md-6 mb-2">
        <div class="col">
          <p class="label-txt">Category</p>
          <p class="content-txt">
            {{ formData?.selectedCategory?.name || "none" }}
          </p>
        </div>
      </div>
      <div class="col-md-6 mb-2">
        <div class="col">
          <p class="label-txt">Subcategory</p>
          <p class="content-txt">
            {{ formData?.selectedProduct?.name || "none" }}
          </p>
        </div>
      </div>
      <div class="col-md-6 mb-2">
        <div class="col">
          <p class="label-txt">Required Qty</p>
          <p class="content-txt">{{ formData?.selectedQuantity }} kg</p>
        </div>
      </div>
      <div class="col-md-6 mb-2">
        <div class="col">
          <p class="label-txt">Distance Range</p>
          <p class="content-txt">{{ formData?.selectedDistance }} km</p>
        </div>
      </div>
      <div class="col-md-12 mb-3">
        <button class="edit-btn btn-txt" (click)="edit()">
          <i class="bi bi-pencil-fill"></i>
          Edit Category
          <i></i>
        </button>
      </div>
    </div>
  </div>
  <mat-dialog-content
    style="min-height: 50vh; max-height: 50vh; overflow-y: auto"
  >
    <div>
      <div class="col-md-12 mb-1">
        <p class="heading">Sellers Nearby</p>
      </div>
      <div class="seller-container" *ngFor="let routeDetail of routeData?.data">
        <div class="col-md-1">
          <mat-checkbox></mat-checkbox>
        </div>
        <div class="col-md-11 detail-container">
          <img loading="lazy" src="assets/img/Empty.png" class="img-fluid" />
          <div class="detail-inner-container">
            <p class="seller-name-txt">
              {{
                routeDetail?.seller?.firstName +
                  " " +
                  routeDetail?.seller?.lastName
              }}
            </p>
            <p class="rating-txt">
              <i class="bi bi-star-fill" style="color: 'orange'"></i>&nbsp;4.0 .
              <span class="review-txt">57k reviews</span>
            </p>
            <p class="last-posted-txt">
              Last posted {{ routeDetail?.lastUpdated }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="button-container">
    <button class="bid-btn btn-txt" (click)="placeBid()">Place Bid</button>
  </mat-dialog-actions>
</div>
