.topnav {
  background: linear-gradient(90deg, #00DF8F -7.58%, #00C092 112.92%);
  overflow: hidden;
  height: 8vh;
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.top-menu {
  min-height: 60px;
}
.product-title {
  color: white;
  font-weight: 500;
  font-size: 30px;
}
.option-card {
  background: #FFFFFF;
  border-radius: 30px;
  width:220px;
  height:48px;
}

.selected-option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  position: absolute;
  /* Secondary color */
  cursor: pointer;
  color: white;
  background: #005A7B;
  border-radius: 40px;
  min-width: 110px;
  margin: 2px;
}
.un-selected-option {
  width:50%;
  float:right;
  height: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  margin-left:2%;
  padding-left:3%;
  cursor:pointer;
  color: #005A7B;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.label {
  width: 50%;
  cursor: pointer;
  height: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  justify-content: center;
}
.left-label{
    float:left;
}
.right-label{
    float:right;
}
.selected {
  color: white;
  background: #005A7B;
  border-radius: 40px;
}
.un-selected {
  color: #005A7B;
}
.login {
  background: #005A7B;
  border-radius: 24px;
  color: white;
  padding: 12px 28px;
}


.backdrop{
  background-color: #005A7B;
}

mat-dialog-container {
  background-color: #005A7B !important;
  padding: 0px 0px 0px 0px !important;
  overflow: hidden !important;
}

mat-drawer-container{
  width : 350px;
  height : 92vh;
  position: absolute;
  background: transparent;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* mat-drawer{
  width: 100%;
} */
