<!-- <p>
  rating works!
</p> -->
<div>
  <div class="col-md-12">
    <div class="txt-s1">
      Rate your Buyer
    </div>
  </div>

  <section >
    <div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
          </div>
        </div>
      </div>

     </div>



     <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-12 txt-s2">
        Good Experience
        </div>
    </div>




    <div>

         <!-- class="box-t1 input" -->
         <div>
          <textarea type="text" id="form7" class="md-textarea form-control box-t1"  placeholder ="Enter your feedback" mdbInput></textarea>

      </div>
    </div>
  </section>

  <br />
  <div class="row">


    <div class="col-md-12  mt-3 ">
      <div style="display: flex; gap: 3px">
        <button
          class="btn btn-secondary button-rounded f12 bg-secondary page-header full-width"
          type="button">
          Prev
        </button>
        <button
          class="btn btn-secondary button-rounded f12 bg-primary page-header full-width"
          type="button">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
