<!-- <p>
  product-details works!
</p> -->
<!--<pre>{{pendingItems|json}}</pre>-->
<div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4 center">
        <img loading="lazy" src="assets/img/right.PNG" height="100">
      </div>

    </div>
  </div>
  <div>

  </div>
  <section>
    <div>
      <h5 class="heading img-txt">Did the transaction with the buyer happen?</h5>
      <div class="row">
        <div class="col-md-3">
          <img loading="lazy" src="{{pendingItems[0]?.consumer?.image}}" height="80" />
        </div>
        <div class="col-md-8 " style="margin-bottom: 0.2%;">
          <div class="row inv-products-f1" style="padding-right: 10px; ">
            <span>{{pendingItems[0]?.consumer?.firstName}} {{pendingItems[0]?.consumer?.lastName}}</span>
          </div>
          <div class="contact-text-align " style="padding-right: 10px; margin-bottom: 2%;">
            <i class='fas fa-map-marker-alt'></i> Guinty
          </div>
          <div class="row inv-products-font" style="padding-right: 10px; margin-bottom: 0.3%;">
            <span><i class="bi bi-star-fill"></i>4.7 54K Reviews</span>
          </div>

        </div>
      </div>

      <hr style="border: solid 1px #000000" />

      <div class="row">
        <div class="col-md-2">
          <i class='far fa-calendar-alt' style='font-size:46px'></i>
        </div>
        <div class="col-md-4 contact-text-align " style="padding-right: 2px;">
          Pickup Date
          <div class="icon-t1" style="margin-right: 0.2%;">
            {{pendingItems[0]?.consumer?.pickupDateTime | date:'mediumDate'}}
          </div>
        </div>

        <div class="col-md-2 ">
          <i class="fa fa-clock-o" style="font-size:46px"></i>
        </div>
        <div class="col-md-4 contact-text-align" style="padding-right: 2px;">
          Time
          <div class="icon-t1">
            {{pendingItems[0]?.consumer?.pickupDateTime | date:'mediumTime'}}
          </div>
        </div>
      </div>
    </div>

    <br />
    <div>
      <div style="display: flex; gap: 3px">
        <button class="btn btn-secondary button-rounded f12 bg-secondary page-header full-width"
                type="button" (click)="nextClick('no')">
          No
        </button>
        <button class="btn btn-secondary button-rounded f12 bg-primary page-header full-width"
                type="button" (click)="nextClick('yes')">
          Yes
        </button>
      </div>
    </div>
  </section>

  <br />
  <div style="display: flex; gap: 3px">
    <button class="btn btn-secondary button-rounded f12 bg-secondary page-header full-width"
            type="button" (click)="nextClick('postpond')">
      Postponed
    </button>
  </div>
</div>
