.toggle {
  border-radius: 45px;
  border: none;
  padding: 5px 20px;
}
.toggle-container {
  border-radius: 45px;
  display: flex;
  border: solid 1px #013f56;
  width: fit-content;
  padding: 1px;
}

.toggle-active {
  background-color: #013f56;
  color: white;
}
.form-control:hover {
  box-shadow: none;
}

.form-control {
  box-shadow: none;
}

.form-group{
  min-height: 80px;
}
.err{
  color: #C0392B;
}
