<form [formGroup]="loginForm">
  <div [ngSwitch]="step">
    <div style="display: flex; flex-direction: column; align-items: center">
      <div style="display: flex; flex-direction: row-reverse" class="col-12">
        <button class="btn" type="button" (click)="close(false)">x</button>
      </div>
      <h1 mat-dialog-title style="font-weight: bold; color: #00cb91">
        Scrapify
      </h1>
      <div class="toggle-container">
        <button
          [ngClass]="userType === 'seller' ? 'toggle toggle-active' : 'toggle'"
          (click)="handleUserType('seller')"
        >
          Seller
        </button>
        <button
          [ngClass]="userType === 'buyer' ? 'toggle toggle-active' : 'toggle'"
          (click)="handleUserType('buyer')"
        >
          Buyer
        </button>
      </div>
      <mat-dialog-content class="mat-typography col-12" *ngSwitchCase="0">
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <div class="input-group mb-0">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">+91-</span>
            </div>
            <input
              type="number"
              class="form-control"
              formControlName="phone"
              id="phone"
            />
          </div>
          <div class="err">
            <small
              *ngIf="
                loginForm.controls['phone'].hasError('required') &&
                loginForm.controls['phone'].dirty
              "
            >
              Phone Number is Required
            </small>
            <small *ngIf="loginForm.controls['phone'].hasError('pattern')">
              Enter a valid Phone Number
            </small>
          </div>
        </div>
        <div
          style="display: flex; flex-direction: column; gap: 10px"
          class="col-12"
        >
          <button class="btn-1 col-12" (click)="getOTP()">Get OTP</button>
          <button class="btn-2 col-12">Login With Google</button>
          <button
            class="btn-2 col-12"
            style="border: solid 1px transparent"
            (click)="close('register')"
          >
            Don't have a account ? Register here
          </button>
        </div>
      </mat-dialog-content>
      <mat-dialog-content class="mat-typography col-12" *ngSwitchCase="1">
        <div
          style="
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
          "
          class="col-12"
        >
          <p style="padding-top: 10px">
            Verfication code is sent to +91-
            {{ loginForm?.value?.phone }}
          </p>
          <ng-otp-input
            (onInputChange)="onOtpChange($event)"
            [config]="{ length: 6, allowNumbersOnly: true }"
          ></ng-otp-input>
          <button class="btn-2 col-12" style="border: solid 1px transparent">
            Resend Code
          </button>
          <button class="btn-1 col-12" type="submit" (click)="submit()">
            Verify
          </button>
          <button
            class="btn-2 col-12"
            type="button"
            style="border: solid 1px transparent"
            (click)="close('register')"
          >
            Don't have a account ? Register here
          </button>
        </div>
      </mat-dialog-content>
    </div>
  </div>
</form>
