mat-drawer{
  height:100%;
  width: 300px;
}

.menu-btn{
  width: 100%;
  text-align: start;
  align-items: center;
  display: flex;
  height: 50px;
  border-radius: 15px;
  background-color: transparent;
}


.menu:is(:hover){
  color: #00cc91 !important;
  border-radius: 15px;
  background-color: #f2f6f8;
}
