<!-- <p>
  quantity-details works!
</p> -->

<div>
  <section>
    <div>
      <div class="row">
        <div class="col-md-2">
          <img loading="lazy" src="assets/img/garbage.png" height="75" />
        </div>
        <div class="col-md-8">
          <div class="row inv-products-f1">
            <span>Garbage Crunchers</span>
          </div>
          <div class="contact-text-align mt-1">
            <i class="fas fa-map-marker-alt"></i> Guinty
          </div>
          <div class="row inv-products-font mt-1">
            <span><i class="bi bi-star-fill"></i>4.7 54K Reviews</span>
          </div>
        </div>
        <div class="col-md-2" style="text-align: end">
          <button class="btn" (click)="dialogRef.close()">x</button>
        </div>
      </div>
      <h5 class="heading img-txt mt-1">Select the scrap products bought</h5>

      <div class="row">
        <div class="col-md-2">
          <img loading="lazy" src="assets/img/metal.png" height="60" />
        </div>
        <div class="col-md-4 inv-products-f1">
          Aluminium
          <div>
            <h5>Metals</h5>
          </div>
        </div>
        <div class="col-md-2">
          <!-- <img loading="lazy" src="assets/img/metal.png" height="50" /> -->
        </div>
        <div class="col-md-4">
          Purchased Quantity
          <div>
            <div class="input-group mb-3">
              <input
                type="number"
                class="form-control"
                aria-label="Username"
                formControlName="qty"
                id="qty"
                name="qty"
                aria-describedby="basic-addon1"
              />
              <span class="input-group-text" id="basic-addon1">kg</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <img loading="lazy" src="assets/img/metal.png" height="60" />
        </div>
        <div class="col-md-4 inv-products-f1">
          Brass
          <div>
            <h5>Metals</h5>
          </div>
        </div>
        <div class="col-md-2">
          <!-- <img loading="lazy" src="assets/img/metal.png" height="50" /> -->
        </div>
        <div class="col-md-4">
          Purchased Quantity
          <div>
            <div class="input-group mb-3">
              <input
                type="number"
                class="form-control"
                aria-label="Username"
                formControlName="qty"
                id="qty"
                name="qty"
                aria-describedby="basic-addon1"
              />
              <span class="input-group-text" id="basic-addon1">kg</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <img
            loading="lazy"
            src="https://calpyte-scrapify.s3.ap-south-1.amazonaws.com/glass.png"
            height="70"
          />
        </div>
        <div class="col-md-4 inv-products-f1">
          Bottles
          <div>
            <h5>Metals</h5>
          </div>
        </div>
        <div class="col-md-2">
          <!-- <img loading="lazy" src="assets/img/metal.png" height="50" /> -->
        </div>
        <div class="col-md-4">
          Purchased Quantity
          <div>
            <div class="input-group mb-3">
              <input
                type="number"
                class="form-control"
                aria-label="Username"
                formControlName="qty"
                id="qty"
                name="qty"
                aria-describedby="basic-addon1"
              />
              <span class="input-group-text" id="basic-addon1">kg</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">Total amount</div>
        <div class="col-md-6">
          <div>
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                aria-label="Username"
                id="qty"
                name="qty"
              />
              <span class="input-group-text" id="basic-addon1">₹</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-6 mt-3">
          <div style="display: flex; gap: 3px">
            <button
              class="btn btn-secondary button-rounded f12 bg-secondary page-header full-width"
              type="button"
            >
              Prev
            </button>
            <button
              class="btn btn-secondary button-rounded f12 bg-primary page-header full-width"
              type="button"
            >
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
