<div>
  <div class="row">
    <div class="col-md-10">
      <div class="txt-s1">
        Select Type of Transaction
      </div>
    </div>
    <div class="col-md-2" style="text-align: end">
      <button class="btn" (click)="dialogRef.close()">x</button>
    </div>

  </div>
<div class="row mt-3">
  <div class="col-md-12">
    <label class="radio-img">
      <input type="radio" name="layout"  />
      <div class="image" style="background-image: url(assets/img/C3.PNG)"></div>

    </label>

    <label class="radio-img">
      <input type="radio" name="layout" value="L" />
      <div class="image" style="background-image: url(assets/img/C4.PNG)" text="df"></div>
    </label>

  </div>
</div>


  <div class="row">
    <div class="col-md-12  mt-5 ">
      <div style="display: flex; gap: 3px">
        <button
          class="btn btn-secondary button-rounded f12 bg-secondary page-header full-width"
          type="button">
          Cash
        </button>
        <button
          class="btn btn-secondary button-rounded f12 bg-primary page-header full-width"
          type="button">
          Gold Credit
        </button>
      </div>
    </div>
  </div>
</div>
