<div>
  <div class="row">
    <div class="col-md-10">
      <div class="txt-s1 " style="text-align: start;">
        Select Type of Transaction
      </div>
    </div>
    <div class="col-md-2" style="text-align: end">
      <button class="btn" (click)="dialogRef.close()">x</button>
    </div>

  </div>
<div class="row mt-3">
  <div class="col-md-12">
    <label class="radio-img">
      <input type="radio" name="layout"  />
      <div class="image "><img src="assets/img/cash.png" style="padding: 15% 3% 1px 28%"  alt="" width="130" height="95"/>
        <div class ="txt-s2 heading"
        style="text-align: center; padding-top: 10px;">Cash</div>
      </div>


      <!-- <div class="image" style="  background-image: url(assets/img/cash.png) "></div> -->

    </label>

    <label class="radio-img">
      <input type="radio" name="layout" value="L" />
      <div class="image "><img src="assets/img/gold.png" style="padding: 15% 3% 1px 28%" alt="" width="130" height="95"/>
        <div class ="txt-s2 heading"
        style="text-align: center; padding-top: 10px;">Gold Credit</div>
      </div>
      <!-- <div class="image" style="background-image: url(assets/img/gold.png)" text="df"></div> -->
    </label>

  </div>
</div>


  <div class="row">
    <div class="col-md-12  mt-5 ">
      <div style="display: flex; gap: 3px">
        <button
          class="btn btn-secondary button-rounded f12 bg-secondary page-header full-width"
          type="button" (click)="paymentSelect('cash')">
          Cash
        </button>
        <button
          class="btn btn-secondary button-rounded f12 bg-primary page-header full-width"
          type="button" (click)="paymentSelect('goldCredit')">
          Gold Credit
        </button>
      </div>
    </div>
  </div>
</div>
