.bid-header {
  box-shadow: 0px 20px 10px #fff;
  height: 12vh;
  padding: 1%;
  margin-bottom: 0.1%;
  border: none;
}

.bg {
  height: 79vh;
}

.card {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 100%;
  margin: 1%;
  padding: 3%;
  height: 62vh;
}

.nav-link {
  color: black;
}

.active {
  border-bottom: 3px solid #02c784;
  color: #02c784;
}

.bg-transaparent {
  border: 2px solid #005a7b;
  background: #ffffff;
  border-radius: 15x;
  color: #005a7b;
  font-size: 12px;

}

.rounded-box {
  background: #ffffff;
  border: 1px solid #d4d9df;
  border-radius: 10px;
  height: 68px;
  width: 170px;
  margin-right:13px;
}

h6{
  margin: 0 !important;
  font-size: 12px;
}

p{
  font-size: 10px;
}

.inv-category-text {
  font-size: 11px;
  opacity: 0.4;
}

.round-corner{
    border: 1px solid #d4d9df;
    border-radius: 10px;
    height: 68px;
    padding-left: 5px;

}

.amt{
  font-size: 16px;
}


.mtop1 {
  margin-top: 1%;
}

.button-rounded {
  border-radius: 45px;
  padding: 6px 15px;
  margin-right:15px;

}

.f12 {
  font-size: 15px;
  /* margin-right:15px; */
}
.f13 {
  font-size: 20px;
}

.bg-secondary {
  background-color: white !important;
  color: #005a7b;
  font-weight: bold;
  border: 2px solid #005a7b;
 size: 40px;
}

.bg-primary {
  background-color: #005a7b !important;
}

.full-width {
  width: 100%;
}


.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.action-footer{
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: flex-end;
}

/* new */
.int-product-txt1{
  font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #3B4357;
}

.ins-place-txt{
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #818694;
}

.ins-row-txt{
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #3B4357;
}

.ins-amnt-txt{
  font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 22px;
color: #818694;
}

.int-amt{
  font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 16px;
color: #3B4357;
}

.ins-product-txt2{
  font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
color: #3B4357;
}

.int-wight-txt3{
  font-style: normal;
font-weight: 450;
font-size: 16px;
line-height: 19px;
color: #3B4357;
}

.product-text {
  text-align: center;
  color: #005A7B;
  font-weight: 500;
  margin-left: 5%;
  font-size: 13px;
}

.heat-txt1{
  font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 16px;
color: #005A7B;
}
