<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="https://calpyte-scrapify.s3.ap-south-1.amazonaws.com/glass.png" height="80" width="80" />
    </div>
    <p class="card-title page-header product-text">Bottles</p>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="https://calpyte-scrapify.s3.ap-south-1.amazonaws.com/glass.png" height="80" width="80" />
    </div>
    <p class="card-title page-header product-text">Carton Boxes</p>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="https://calpyte-scrapify.s3.ap-south-1.amazonaws.com/glass.png" height="80" width="80" />
    </div>
    <p class="card-title page-header product-text">Metals</p>
  </div>



  <div class="col-md-4">
    <div class="card">
      <img src="https://calpyte-scrapify.s3.ap-south-1.amazonaws.com/glass.png" height="80" width="80" />
    </div>
    <p class="card-title page-header product-text">Maganizens</p>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="https://calpyte-scrapify.s3.ap-south-1.amazonaws.com/glass.png" height="80" width="80" />
    </div>
    <p class="card-title page-header product-text">Books</p>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="https://calpyte-scrapify.s3.ap-south-1.amazonaws.com/glass.png" height="80" width="80" />
    </div>
    <p class="card-title page-header product-text">Ewaste</p>
  </div>


  <div class="col-md-4">
    <div class="card">
      <img src="https://calpyte-scrapify.s3.ap-south-1.amazonaws.com/glass.png" height="80" width="80" />
    </div>
    <p class="card-title page-header product-text">Glasses</p>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="https://calpyte-scrapify.s3.ap-south-1.amazonaws.com/glass.png" height="80" width="80" />
    </div>
    <p class="card-title page-header product-text">Battery</p>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="https://calpyte-scrapify.s3.ap-south-1.amazonaws.com/glass.png" height="80" width="80" />
    </div>
    <p class="card-title page-header product-text">More</p>
  </div>
</div>
