<div>
  <agm-map
    [latitude]="location?.lat"
    [longitude]="location?.lng"
    [zoom]="12"
    [style]="style"
  >
    <agm-marker
      [latitude]="location?.lat"
      [longitude]="location?.lng"
      [markerDraggable]="false"
      (dragEnd)="markerDragEnd($event)"
    >
      <agm-info-window #infowindow class="agm-info-window">
        <p>You</p>
      </agm-info-window>
    </agm-marker>
    <agm-marker
      *ngFor="let inventory of inventories"
      [latitude]="inventory?.displayLocation?.coordinates[0]"
      [longitude]="inventory?.displayLocation?.coordinates[1]"
      [markerDraggable]="false"
    >
      <agm-info-window #infowindow class="agm-info-window">
        <app-consumer-details
          [data]="inventory"
          (placeBid)="placeBid($event)"
        ></app-consumer-details>
      </agm-info-window>
    </agm-marker>
    <agm-circle
      [latitude]="location?.lat"
      [longitude]="location?.lng"
      [radius]="circleRadius"
      [fillColor]="circleFillColor"
      [strokeColor]="circleStrokeColor"
      [fillOpacity]="circleFillOpacity"
      [strokeWeight]="circleStrokeWeight"
    >
    </agm-circle>
  </agm-map>
</div>
