<div>
  <div style="display: flex; justify-content: space-between">
    <div style="display: flex; justify-content: flex-start; gap: 10px">
      <div>
        <img loading="lazy" src="assets/img/garbage.png" height="60" />
      </div>
      <div>
        <div class="inv-product-text">
          <span>{{ inventory?.seller?.firstName }}</span>
        </div>
        <div class="inv-amt-text">
          <span><i class="bi bi-star-fill"></i>4.7 54K Reviews</span>
        </div>
        <div class="inv-category-text">
          <span>Last posted {{ inventory?.lastUpdated }}</span>
        </div>
      </div>
    </div>
    <div
      class="float-right"
      type="button"
      style="cursor: pointer"
      (click)="cancel()"
    >
      <mat-icon matTooltip="close">close</mat-icon>
    </div>
  </div>
</div>
<hr class="ruler" />
<mat-dialog-content class="mat-typography" style="margin: 0; padding: 0">
  <form [formGroup]="bidForm">
    <div
      [formGroup]="bidGroup"
      *ngFor="let bidGroup of bidForm.get('bids')['controls']; let i = index"
    >
      <div
        class="row d-flex align-items-center"
        style="margin: 0; padding: 0; margin-bottom: 1%"
      >
        <div class="col-md-3 col-sm-12">
          <div class="row">
            <div class="col-3">
              <img loading="lazy" src="assets/img/metal.png" height="60" />
            </div>
            <div class="col-9">
              <div class="row lg-txt">
                <span>{{ bidGroup?.value?.product?.name }}</span>
              </div>
              <div class="row sm-txt">
                <span>Metals</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-9 col-sm-12">
          <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-6">
              <label for="Username" class="form-label form-text"
                >Available Qty</label
              >
              <div class="input-group mb-3">
                <input
                  type="number"
                  class="form-control read-only"
                  aria-label="Username"
                  id="qty"
                  formControlName="availableQty"
                  name="qty"
                  readonly
                  aria-describedby="basic-addon1"
                />
                <span class="input-group-text" id="basic-addon1">kg</span>
              </div>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-6">
              <label for="Username" class="form-label form-text"
                >Requested Qty</label
              >
              <div class="input-group mb-3">
                <input
                  type="number"
                  class="form-control"
                  aria-label="Username"
                  formControlName="qty"
                  id="qty"
                  name="qty"
                  aria-describedby="basic-addon1"
                />
                <span class="input-group-text" id="basic-addon1">kg</span>
              </div>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-6">
              <label for="Username" class="form-label form-text"
                >Market Price/kg</label
              >
              <div class="input-group mb-3">
                <input
                  type="number"
                  class="form-control read-only"
                  formControlName="marketPrice"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                  readonly
                />
              </div>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-6">
              <label for="Username" class="form-label form-text"
                >Expected Price/kg</label
              >
              <div class="input-group mb-3">
                <input
                  type="number"
                  class="form-control read-only"
                  aria-label="Username"
                  readonly
                  formControlName="expectedPrice"
                  aria-describedby="basic-addon1"
                />
                <span class="input-group-text" id="basic-addon1">₹</span>
              </div>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-6">
              <label for="Username" class="form-label form-text"
                >Bid Price/kg</label
              >
              <div class="input-group mb-3">
                <input
                  type="number"
                  class="form-control"
                  formControlName="amount"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                />
                <span class="input-group-text" id="basic-addon1">₹</span>
              </div>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-6">
              <label for="Username" class="form-label form-text"
                >Total Amount</label
              >
              <div>
                <span id="basic-addon1"
                  >₹ {{ bidGroup?.value?.qty * bidGroup?.value?.amount }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="d-flex justify-content-end">
    <h3 class="footer-txt">
      Estimated Bid Amt. &nbsp;<span style="font-size: 24px"
        >₹ {{ totalAmount }}</span
      >
    </h3>
  </div>
</mat-dialog-content>
<hr class="ruler" />
<mat-dialog-actions class="d-flex justify-content-end">
  <div>
    <button
      class="btn btn-secondary button-rounded f12 bg-primary page-header full-width"
      type="button"
      (click)="reviewBid()"
    >
      Review Bid
    </button>
  </div>
</mat-dialog-actions>
