
.page-header {
  color: #005a7b;
}

.page-sub-header {
  color: #005a7b;
  padding-top: 1%;
}

.bold {
  font-weight: bold;
}

.card {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 100%;
  margin: 1%;
  padding: 3%;
  height: 75vh;
}

.inv-product-text {
  font-size: 14px;
  font-weight: bold;
}

.inv-category-text {
  font-size: 10px;
}

.inv-amt-text {
  font-size: 12px;
  font-weight: 500;
}

.form-text {
  font-size: 10px;
}

.btn-grey {
  background-color: #f2f6f8;
  height: 50px;
  width: 100%;
}

.form-control:hover {
  box-shadow: none;
}

.form-control {
  box-shadow: none;
}

.btn-rounded {
  border-radius: 50px;
  background-color: white;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  height: 40px;
}

.card-footer {
  height: 80px;
  background-color: #f2f6f8;
  z-index: 1;
}

.button-rounded {
  border-radius: 50px;
}

.f12 {
  font-size: 12px;
}

.bg-secondary {
  background-color: white !important;
}

.bg-primary {
  background-color: #005a7b !important;
}

.full-width {
  width: 100%;
}

.mtop18 {
  margin-top: 20%;
}

.mtop4 {
  margin-top: 4%;
}

.mtop2 {
  margin-top: 2.3%;
}

.mtop3 {
  margin-top: 3%;
}

.mtop1 {
  margin-top: 1.5%;
}

.mtop3 {
  margin-top: -3%;
}

.read-only {
  background-color: #f2f6f8;
}


.file-upload {
  border: 1px solid #f2f6f8;
  display: grid;
  width: 60px;
  height: 50px;
  place-items: center;
  cursor: pointer;
  background-color: #f2f6f8;
}
