<div class="bg">
  <div class="row col-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div style="margin-bottom: 5%; margin-top: 1%">
        <h4 class="page-header float-md-start">Scrap Inventory</h4>
        <h6 class="page-sub-header float-md-end bold">₹200.00</h6>
        <h6 class="page-sub-header float-md-end">Estimated Scrap Amt.</h6>
      </div>

      <form name="inputForm">
        <div class="card">
          <div class="card-body" style="overflow-y: auto">
            <app-inventory-product-list
              [stock]="stock"
              [updatedStocks]="updatedStocks"
              *ngFor="let stock of inventoryData?.stock"
            ></app-inventory-product-list>

            <div class="row">
              <div class="col-md-5"></div>
              <div class="col-md-6">
                <button
                  class="btn inv-product-text page-header"
                  (click)="addProduct()"
                >
                  <i class="bi bi-plus-circle-fill"></i>
                  Add more products
                </button>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="row">
              <div class="col-md-8">
                <h5 class="page-header inv-product-text mtop2">
                  Go to Dashboard
                </h5>
              </div>

              <div class="col-md-2 mtop1">
                <button
                  class="btn btn-secondary button-rounded f12 bg-secondary page-header full-width"
                  type="button"
                >
                  <b>Reset Changes</b>
                </button>
              </div>

              <div class="col-md-2 mtop1">
                <button
                  (click)="updateInventory()"
                  class="btn btn-primary button-rounded f12 full-width bg-primary"
                  type="button"
                >
                  Update Inventory
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
