.bg{
  background-image: url('../../../assets/img/inventory.png');
  height: 98vh;
  background-repeat: no-repeat;

}

.page-header{
  color: #005A7B;

}

.page-sub-header{
color: #005A7B;
padding-top: 1%;
}

.bold{
  font-weight: bold;
}

.card {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 100%;
  margin: 1%;
  padding: 3%;
}

.inv-product-text{
  font-size: 14px;
  font-weight: bold;
}


.inv-category-text {
  font-size: 10px;
}

.inv-amt-text {
  font-size: 12px;
  font-weight: 500;
}

.form-text{
  font-size: 10px;
}

.mtop3{
  margin-top: -3%;
}

input#file {
  display: inline-block;
  width: 100%;
  padding: 50px 0 0 0;
  height: 50px;
  max-height: 3vh;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('../../../assets/img/upload.png') center center no-repeat #e4e4e4;
  border-radius: 10px;
  background-size: 50px 50px;

}
