<div class="bg">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div style="margin-bottom: 5%;margin-top: 1%;">
        <h4 class="page-header float-md-start">Scrap Inventory</h4>
        <h6 class="page-sub-header float-md-end bold">₹200.00</h6>
        <h6 class="page-sub-header float-md-end">Estimated Scrap Amt.</h6>
      </div>
      <div class="card" style="height: 80vh;">
        <div class="row">
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-3">
                <img src="assets/img/metal.png">
              </div>
              <div class="col-md-8">
                <div class="row inv-product-text">Aluminium</div>
                <div class="row inv-category-text">Metals</div>
                <div class="row inv-amt-text">Exp. Amt. ₹200.00</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row mtop3">
              <div class="col-md-4">
                <label for="Username" class="form-label form-text">Available Qty</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" aria-label="Username" id="Username"
                    aria-describedby="basic-addon1">
                  <span class="input-group-text" id="basic-addon1">kg</span>
                </div>
              </div>

              <div class="col-md-4">
                <label for="Username" class="form-label form-text">Market Price/kg</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                    readonly>
                </div>
              </div>


              <div class="col-md-4">
                <label for="Username" class="form-label form-text">Expected Price/kg</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                  <span class="input-group-text" id="basic-addon1">₹</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1">
            <input id="file" type="file" class="mtop3" />
          </div>
          <div class="col-md-1">
            <input id="file" type="file" class="mtop3" />
          </div>
          <div class="col-md-12">
            <hr />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
