/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html, body {
  height: 100%;
}

.map-container {
  width: inherit !important;
  height:
  inherit !important;
}


.bg {
  background-image: url("assets/img/inventory.png");
  height: 92vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.inv-product-text {
  font-size: 13px;
  font-weight: bold;
}

.inv-category-text {
  font-size: 10px;
  opacity: 0.4;
}

.inv-amt-text {
  font-size: 10px;
  font-weight: 500;
  opacity: 0.8;
}



/* Change the color of the scrollbar */
::-webkit-scrollbar {
  width: 4px;
  /* Set the width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Set the background color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #005A7B;
  /* Set the color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00384C;
  /* Set the color of the scrollbar handle on hover */
}

.page-header {
  color: #005a7b;
}

.badge-color{
  background-color: #02C784;
}



/* margin classes */
.ml-2{
    margin-left:2%;
}
.mb-2{
  margin-bottom:2%;
}
.ml-3{
  margin-left:3%;
}
.ml-4{
  margin-left:4%;
}
.mt-1{
  margin-top:1%;
}
.mb-5{
  margin-bottom: 5%;
}
.mb-3{
  margin-bottom: 5%;
}
.mr-2{
  margin-right:2%;
}
/* padding classes */


/*  width classes*/
.w-100{
  width: 100%;
}

.card {
  border-radius: 12px;
  width: 100%;
  margin: 1%;
  padding: 3%;
  height: 75vh;
}

.card-title{
  text-align: center;
}

.mtop3{
  margin-top: 3%;
}

.bi-star-fill{
  color: #FFCB05;
}

.cdk-overlay-dark-backdrop, .cdk-overlay-transparent-backdrop {
  background-color: #013F56DD;
}

.scrapify-card{
  width: 1518px;
  min-height: 745px;
}


 .btn-1 {
        width: 'fit-content';
        background-color: #013f56;
        border-radius: 45px;
        color: white;
        padding: 10px 40px;
        border: solid 1px #013f56;
 }
 .btn-2{
  width: 'fit-content';
  border: none;
  color: #013f56;
  background-color: white;
  border-radius: 45px;
  padding: 10px 45px;
  border: solid 1px #013f56;
 }

.form-control:hover {
  box-shadow: none;
}

.form-control {
  box-shadow: none;
}
.full-width{
  width: 100%;
}

button {
   border: none;
}

.toggle {
  border-radius: 45px;
  border: none;
  padding: 5px 20px;
}
.toggle-container {
  border-radius: 45px;
  display: flex;
  border: solid 1px #013f56;
  width: fit-content;
  padding: 1px;
}
.toggle-active {
  background-color: #013f56;
  color: white;
}
