
<div class="bg">
  <div class="d-flex justify-content-center" >
    <div class="col-md-8">
      <div style="display: grid;place-items: center;">
        <h2>Refer N Earn</h2>
      </div>
      <div class="card px-1 py-0">
        <div class="card-body" style="overflow-y: auto;">
          <div class="row g-2">
            <div class="col-md-6">
              <img src="https://img.freepik.com/free-vector/web-development-programmer-engineering-
              coding-website-augmented-reality-interface-screens-developer-project-engineer-programming-
              software-application-design-cartoon-illustration_107791-3863.jpg?q=10&h=200" alt="Testing"
              />
            </div>
            <div class="col-md-6" style="padding: 25px">
              <p class="heading-text">Refer your friends & add extra cash on every selling</p>
              <div class="dotted-text">
                  <h1><strong >SCRAP1234</strong><span class="bi bi-clipboard"></span></h1>
              </div>
              <br >
                <button class="button-text">Share</button>

                <p class="how-text" style="padding: 10px 0px 0px 0px;">How it Works</p>
                <p>Login to the platform,You should be able to see the refferal code assigned.</p>
                <p>You make a transaction first.When the referral code is shared and when the shared users make transaction X amount
                  gets added to your account.</p>
                <p>Earn Extra cash for every referral.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


