<!-- <p>
  product-details works!
</p> -->
<div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4 center">
        <img loading="lazy" src="assets/img/right.PNG "  height="100">
      </div>

    </div>
  </div>
  <div>

  </div>
  <section >
    <div>
      <h5 class="heading img-txt">Did the transaction with the buyer happened?</h5>
      <div class="row">
        <div class="col-md-3">
          <img loading="lazy" src="assets/img/garbage.png" height="75" />
        </div>
        <div class="col-md-8">
          <div class="row inv-products-f1">
           <span>Garbage Crunchers</span>
          </div>
          <div class="contact-text-align mt-1">
            <i class='fas fa-map-marker-alt'></i> Guinty
          </div>
          <div class="row inv-products-font mt-1">
            <span><i class="bi bi-star-fill"></i>4.7 54K Reviews</span>
          </div>

        </div>
      </div>

      <hr style="border: solid 1px #000000" />

     <div class="row">
      <div class="col-md-2">
        <i class="fa fa-calendar"style="font-size:35px" ></i>
      </div>
      <div class="col-md-4">
        Pickup Date
        <div class="icon-t1">
          Sunday Apr 30, 2023
        </div>
      </div>

      <div class="col-md-2">
        <i class="fa fa-clock-o" style="font-size:35px"></i>
      </div>
      <div class="col-md-4">
        Time<br>
        <div class="icon-t1">
          Between 2pm-5pm
        </div>
      </div>
      </div>
     </div>

    <br />
    <div>
      <div style="display: flex; gap: 3px">
        <button
          class="btn btn-secondary button-rounded f12 bg-secondary page-header full-width"
          type="button">
          No
        </button>
        <button
          class="btn btn-secondary button-rounded f12 bg-primary page-header full-width"
          type="button">
          Yes
        </button>
      </div>
    </div>
  </section>

  <br />
  <div style="display: flex; gap: 3px">
    <button
          class="btn btn-secondary button-rounded f12 bg-secondary page-header full-width"
          type="button">
          Postponed
        </button>
  </div>
</div>
