
<div class="bg">
  <div class="d-flex justify-content-center">
    <div class="col-md-8 contact-text-top mt-2">
      <div style="display: grid; place-items: center">
        <h1><strong>Contact Us</strong></h1>
      </div>
      <div class="card" style="width: 100%">
        <div class="card-body">
          <div class="row g-2">
            <div class="col-md-6" style="background-color: rgb(255, 255, 255)">
              <div
                class="d-flex justify-content-start align-items-center mb-2 mr-2"
              >
                <img
                  loading="lazy"
                  src="assets/img/Capture56.PNG"
                  class="ml-2 mt-2 image-text"
                />
              </div>
            </div>
            <div class="col-md-6 contact-text-top">
              <p class="heading-text">
                Connect with our team for buying and selling queries
              </p>
              <div class="mb-3 contact-text-align">
                32, D-302 Yashwant Kunj Lbs Street,<br />
                Porur, Chennai - 400 705<br />
                Tamil Nadu, India
              </div>
              <div class="contact-text-align">
                <i class="fa fa-envelope"></i> support@scrapify.com
              </div>
              <div class="contact-text-top">
                <p class="heading-text">Send your query</p>
              </div>

              <form [formGroup]="contactForm">
              <div class="contact-text-size">Name</div>
              <div class="mb-2 contact-text-border">
                <input
                  type="text"
                  id="myInput"
                  formControlName="name"
                  placeholder=""
                  class="form-control search-input"
                  title="Type in a name"
                />
              </div>

              <div class="contact-text-size">Email ID</div>
              <div class="contact-text-border">
                <input
                  type="text"
                  id="myInput"
                  placeholder=""
                  formControlName="email"
                  class="form-control search-input"
                  title="Type in a name"

                />

              </div>
              <div class="contact-text-size">Mobile</div>
              <div class="contact-text-border">
                <input
                  type="text"
                  id="myInput"
                  placeholder=""
                  formControlName="mobile"
                  class="form-control search-input"
                  title="Type in a name"
                />
              </div>
              <!-- </form> -->

              <!-- <mat-error *ngIf="basic.Mobile.hasError('name')">Invalid</mat-error> -->
              <button type="submit"
                class="bt-text bg-secondary f12 bg-primary btn-rounded text-btn"(click)="submitForm()"
              >
                Submit
              </button>
            </form>
            </div>
          </div>
        </div>
      </div>
      <h5 style="text-align: center">
        Copyrights reserved 2023 Scrapify Ecotech Pvt.Ltd.
      </h5>
    </div>
  </div>
</div>

